{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block body %}

<div class="container">

            <div class style="width: 18rem;">
                <img  src={{ asset(product.img) }} alt={{product.name}} width="500">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.price}}</p>
                    <a href="" class="btn btn-primary">Ajouter au panier</a>
                </div>

    </div>
</div>
{% endblock %}